

VITE_API_URL=

# Supabase Auth 
SUPABASE_URL=https://xcsinrlpbofhypducmav.supabase.co
SUPABASE_JWT_AUD=authenticated
VITE_SUPABASE_URL=https://xcsinrlpbofhypducmav.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_BVcXR0CdA2cHnz7omKU54Q_MYqC2QUb